.accordion-header:hover {
    color: #fff !important;
    background-color: #4CAF50 !important;
}

.toggle-container {
    font-family: Arial, sans-serif;
    position: relative;
    display: inline-block;
    width: 100%;
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 5px;
}
  
.toggle-checkbox {
    display: none;
}
  
.toggle-switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}
  
.toggle-option {
    flex: 1;
    text-align: center;
    padding: 3px 0; /* Padding only top and bottom for better alignment */
    z-index: 2;
    color: #000; /* Default color */
    transition: color 0.3s ease;
    position: relative; /* Needed for z-index to take effect */
}
  
/* The divider */
.toggle-switch::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: 5%;
    width: 2px;
    background-color: #ddd;
    z-index: 3; /* Above the glider */
}
  
.toggle-glider {
    position: absolute;
    left: 8px; /* Adjust for padding */
    width: calc(40%); /* Adjust width for padding */
    height: 100%; /* Height set to 100% */
    background-color: #2196F3;
    transition: left 0.3s ease;
    z-index: 1;
}
  
/* Change glider position and text color when checkbox is checked */
.toggle-checkbox:checked + .toggle-switch .toggle-glider {
    left: calc(50% + 14px);
}
  
/* .toggle-checkbox:checked + .toggle-switch .toggle-option:first-child {
    color: #000;
} */
  
.toggle-checkbox:not(:checked) + .toggle-switch .toggle-option:first-child {
    color: white; /* White color when unchecked */
}
  
.toggle-checkbox:checked + .toggle-switch .toggle-option:last-child {
    color: white; /* White color when checked */
}


.clear-button {
    position: relative; /* Position relative to its normal position */
    left: -25px; /* Shift the button to the left, over the input */
    border: none; /* Remove default button border */
    background: none; /* Remove default button background */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Size of the cross icon */
}
  
  /* Optional: Style the button on hover */
.clear-button:hover {
    color: #555; /* Change color on hover */
}


.code-output-container {
    font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
    margin: 20px auto;
}
  
  .code-container, .output-container {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    position: relative;
    margin: 0;
  }
  
  .code-container {
    background-color: #202628;
  }
  
  code {
    background-color: transparent;
    color: #f8f8f2;
  }
  
  .copy_buttton {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #282a36;
  }
  
  .copy_buttton:hover {
    background-color: #64ff7d;
  }
  
  .output-container {
    background-color: #fff;
    color: #333;
    margin-top: 0; /* Remove margin to align with label */
    border: 1px solid #ddd;
    border-top: none; /* Remove top border to blend with label */
  }
  
  pre {
    margin: 0;
    white-space: pre-wrap;
  }  